{{ define "main" }}
 
{{ partial "default.html" . }}
<section class="mbr-section info2 cid-ruXIRFRxrA" id="info2-1n">
    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-left py-4">
                    <a class="btn btn-primary display-4" href="{{ .Site.BaseURL }}contact">{{ .Site.Params.contact }}</a>
                </div>
            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-white pb-3 mbr-fonts-style display-2">{{ i18n "price"}}</h2>
                <h3 class="mbr-section-subtitle align-right mbr-light mbr-white mbr-fonts-style display-5">
                    {{ i18n "price_detail"}}</h3>
            </div>
        </div>
    </div>
</section>
{{ end }}